
/* =========================================================================
    Issue Panel styles
   ========================================================================= */

.rwd-sprint-summary {
    margin-right: 20px;
    margin-bottom: 30px;
}

.rwd-sprint-summary .rwd-sprint-header {
    color: #A2A2A2;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.364;
    margin: 16px 0 0 0;
    text-transform: uppercase;
    border-bottom: 1px solid #E4E4E4;
}

.rwd-sprint-summary .rwd-sprint-date {
    float: right;
}

.rwd-list-item {
    margin-top: 5px;
    padding: 4px;
    color : #333333;
    min-height: 36px;
}

.rwd-list-item:hover {
    background-color: #F0F0F0;
}

.rwd-list-item .reward-quantity {
    color: #707070;
}

.rwd-list-item.rwd-granted .reward-quantity {
    color: #51a825;
}

.reward-left {
    margin-top: 2px;
    margin-right : 5px;
    vertical-align: top;
    display : inline-block;
    width : 90px;
    position: absolute;
}

.reward-left * {
    float: right;
}

.reward-central {
    display : inline-block;
    padding-left : 90px;
    padding-right : 20px;
}

.reward-central .reward-ctop {

}

.reward-central .reward-cbot {
    color: grey;
    font-size: 11px;
    margin-left: 4px;
}

.reward-explanation {
    color: grey;
    font-size: 11px;
    margin-left: 4px;
}

.reward-short {
    min-width: 90px;
}

.reward-short .reward-icon {
    position: absolute;
    right: 0px;
}

.sprint-reward32 .reward-quantity {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    padding-right : 32px;
}

.rwd-user-hover .aui-avatar {
    margin-right : 3px;
}

.rwd-list-item:hover .rwd-toolbar {
    display: inline-block;
}

.rwd-toolbar {
    float: right;
    width : 16px;
    position: absolute;
    margin-top: -2px;
    right: 44px;
    display : none;
}

.rwd-toolbar .rwd-toolbar-action {
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
}

.rwd-toolbar-dropdown-action {
    cursor: pointer;
}

.rwd-toolbar-dropdown-action .icon {
    padding-right: 5px;
}

.rwd-icon-overwrite{
    height: 16px;
    display: block;
    margin-left: -3px;
}


/* =========================================================================
    Add reward
========================================================================= */

.rwd-offer #quantity {
    width : 50px;
}

.rwd-offer #typeId-single-select {
    margin-left: 5px;
}

.rewardreport {
    margin-left: 25px;
}

.rewardreportdiscell {
    background-color: lightgray;
}

/* =========================================================================
    Icons
========================================================================= */

.rwd-icon {
    background: transparent url(images/accept_reject.png) no-repeat 0 0;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-position: 20px 0px;
}

.rwd-icon-accept {
    background-position: -22px -21px;
}

.rwd-icon-accept:hover {
    background-position: -2px -21px;
}

.rwd-icon-reject {
    background-position: -22px -1px;
}

.qanda-icon-reject:hover {
    background-position: -2px -1px;
}


/* =========================================================================
    Sprints page
========================================================================= */

.aui-page-panel.spa-page-panel {
    margin: 0px;
}

.solo-message {
    margin : 20px;
}

.rwd-date-picker .date-picker-trigger {
    margin-left : 5px;
}

.spa-page-panel .aui-page-panel-nav {
    min-width: 218px;
}

.spa-page-panel .aui-page-header-actions .icon {
    margin-right : 3px;
}

.spa-page-panel .aui-page-panel-content {
    width: 100%;
}

.spa-page-panel .aui-navgroup-inner .aui-nav-heading:first-child {
    border-top: none;
}

.spa-sprint-details {
    border-right: 1px solid #ccc;
    line-height: 2;
}

.spa-page-panel .spa-half-panel {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 10px 25px;
    margin-top: 10px;
}

.spa-page-panel .spa-title {
    color : #707070;
    font-size: 18px;
    margin-bottom: 20px;

}

.spa-sprint-details .spa-sprint-field {

}

.spa-sprint-details .spa-sprint-field label{
    color : #707070;
    width: 25%;
    display: inline-block;
}

.spa-sprint-details .spa-sprint-field .spa-field-value{

}

.spa-sprint-guests {

}

.spa-sprint-guests .spa-sprint-guest-list {

}

.spa-sprint-guests .spa-sprint-guest-list .spa-guest {

}

