$soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Templates.Sprints',
                    {
                        'sprints': $sprints
                    },
                    {
                        'baseurl' : $baseurl,
                        'currentUser' : $user,
                        'isAdmin' : $isAdmin
                    })