$soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Templates.User',{
    'user': $user,
    'avatarUrl' : $!avatarService.getAvatarUrlNoPermCheck($user, $smallAvatarSize).toString()
})