<html>
  <head>
    <title>$i18n.getText('reward.sprintreport.title')</title>
    <meta name="decorator" content="panel-general">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-dropdown2")
    $webResourceManager.requireResource("ro.agrade.jira.rewards:rewards-resources")
  </head>
  <body>
  <header class="aui-page-header">
      <div class="aui-page-header-inner">
          <div class="aui-page-header-main">
              <h1>$i18n.getText('rewards.report.title')</h1>
          </div><!-- .aui-page-header-main -->
          <div class="aui-page-header-actions">
              <a href="$!baseurl/secure/BeerSprints.jspa?" class="aui-button" id="backto-sprint-trigger" title="">
                  $i18n.getText('rewards.sprints.back.to.sprints.button')
              </a>
          </div><!-- .aui-page-header-actions -->
      </div><!-- .aui-page-header-inner -->
  </header>

  <div class="rewardreport">

     <h2>$i18n.getText('')</h2>

     #if($rewardSprints)
         <a href="#rewardsprintslist" aria-owns="rewardsprintslist" aria-haspopup="true" class="aui-dropdown2-trigger aui-style-default">$i18n.getText('rewards.report.choose.current.sprint')</a>
         <div id="rewardsprintslist" class="aui-dropdown2 aui-style-default">
             <ul class="aui-list-truncate">
                #foreach ($rwd in $rewardSprints)
                 <li><a href="/plugins/servlet/agrade/rewards/sprintreport?currentRewardSprintId=$rwd.id">$rwd.name</a></li>
                #end
             </ul>
         </div>
     #end

     #if($currentSprint)
        $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Templates.ReportSprintSummary',
                              {
                              'sprint': $currentSprint,
                              'whenmsg' : "$i18n.getText('reward.sprintreport.whenmsg')",
                              'wheremsg' : "$i18n.getText('reward.sprintreport.wheremsg')"
                              })
        <br />
        <br />
        #if($rewardSprintReportUsers.size() == 0)
            $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Forms.Message',
                                         {
                                         'title': "$i18n.getText('reward.sprintreport.titlebox')",
                                         'text' : "$i18n.getText('reward.sprintreport.nodatainreport')",
                                         'class' : 'info'
                                         })
        #else
            $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Forms.Message',
                                                     {
                                                     'title': "$i18n.getText('reward.sprintreport.titlebox')",
                                                     'text' : "$i18n.getText('reward.sprintreport.smallexplanation')",
                                                     'class' : 'info'
                                                     })

            ##
            ## The Report starts here
            ##
            <table border="1" class="aui">
            <thead>
            <tr>
                <td id="rfirstcell">
                    $i18n.getText('reward.sprintreport.firstcell')
                </td>
                #foreach($user in $rewardSprintReportUsers)
                <td id="$user.username">
                    $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Templates.User',
                                                  {
                                                  'user': $user,
                                                  'avatarUrl' : ""
                                                  })
                </td>
                #end
            </tr>
            </thead>
            <tbody>
            #foreach($user1 in $rewardSprintReportUsers)
                <tr>
                <td headers="rfirstcell">
                    $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Templates.User',
                                                  {
                                                  'user': $user1,
                                                  'avatarUrl' : ""
                                                  })
                    <span>($i18n.getText('reward.sprintreport.user.total') $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Templates.ReportRewardNumberFull',
                                                                                                                             {
                                                                                                                             'q': $rewardSprintReport.getTotal($user1.username),
                                                                                                                             'singular' : $rewardSprintReport.getRewardType().getName(),
                                                                                                                             'plural' : $rewardSprintReport.getRewardType().getNamePluralForm(),
                                                                                                                             'msgsober' : "$i18n.getText('reward.sprintreport.funnymsg.sober')",
                                                                                                                             'msgstillok' : "$i18n.getText('reward.sprintreport.funnymsg.stillok')",
                                                                                                                             'msgdrunk' : "$i18n.getText('reward.sprintreport.funnymsg.drunk')",
                                                                                                                             'msgcoma' : "$i18n.getText('reward.sprintreport.funnymsg.coma')"
                                                                                                                             })

                    )</span>
                </td>
                #foreach($user2 in $rewardSprintReportUsers)

                    #if($user1 == $user2)
                        <td headers="$user1.username" class="rewardreportdiscell">
                    #else
                        <td headers="$user1.username">
                        $rewardSprintReport.getQuantity($user2.username, $user1.username)
                    #end
                    </td>
                #end
                </tr>
            #end
            </tbody>
            </table>
        #end
        #if($rewardSprintReportOtherUsers.size() > 0)
            <br />
            $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Forms.Message',
                                                     {
                                                     'title': "$i18n.getText('reward.sprintreport.otherusers')",
                                                     'text' : "$i18n.getText('reward.sprintreport.otheruserstext')",
                                                     'class' : 'info'
                                                     })
            <table border="1" class="aui">
            <tbody>
            #foreach($user in $rewardSprintReportOtherUsers)
                <tr><td>
                $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Templates.User',
                                              {
                                              'user': $user,
                                              'avatarUrl' : ""
                                              })
                </td></tr>
            #end
            </tbody>
            </table>
        #end
     #else
        ## No current sprint
        $soyRenderer.render('ro.agrade.jira.rewards:soy-templates','REWARDS.Forms.Message',
                                                             {
                                                             'title': "$i18n.getText('reward.sprintreport.titlebox')",
                                                             'text' : "$i18n.getText('reward.sprintreport.needtocreatesprints')",
                                                             'class' : 'info'
                                                             })
     #end
  </div>
  </body>
</html>